@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  @apply bg-black text-white scroll-smooth
}

body {
  font-family: 'Fugaz One', cursive;
}

:root {
  --primary: #0e0e10;
  --secondary: rgb(107 114 128 / var(--tw-bg-opacity));
}

*::-webkit-scrollbar {
  width: 10px;
}


*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

